[submodule "examples/acc"]
	path = examples/acc
	url = https://github.com/digiator42/admin-command-center
[submodule "examples/cyperflow"]
	path = examples/cyperflow
	url = https://github.com/digiator42/CyberFlow
