[submodule "examples/acc"]
	path = examples/acc
	url = https://github.com/digiator42/admin-command-center
[submodule "examples/cyperflow"]
	path = examples/cyperflow
	url = https://github.com/digiator42/CyberFlow
[submodule "examples/gritjira"]
	path = examples/gritjira
	url = https://github.com/digiator42/GritJira.git
[submodule "examples/LuxShield"]
	path = examples/LuxShield
	url = https://github.com/digiator42/LuxShield.git
